version: '3.8'

services:
  gateway:
    build: ./gateway
    ports:
      - "80:80"
    depends_on:
      - users-service
      - orders-service
    networks:
      - api-network

  users-service:
    build: ./users-service
    networks:
      - api-network

  orders-service:
    build: ./orders-service
    networks:
      - api-network

networks:
  api-network:
    driver: bridge
